{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
  <!-- <cript src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="{% static 'showme/css/site.css' %}" >
  <title>Fund101</title>
</head>

<body>
  <nav class="navbar level is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand level-item has-text-justified">
      <a class="navbar-item" href=".">
        <div class="subtitle">
          <img src="{% static 'showme/images/logo.png' %}" width="40" height="44">
          <span style="color:#F8C608;">USWeFund</span>
          <span style="color:#EE6208;">|</span>
          <span style="color:#a0acb8;">美房微投</span>
        </div>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="offerings">
          Offerings
        </a>
        <a class="navbar-item">
          How it works
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Learning tools
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      </div>
      {% if 'login' not in request.path  %}
      <div class="navbar-end">
        {% if user_name is None %}
          <div class="navbar-item">
            <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light" href='login'>
                  Log in
                </a>
            </div>
          </div>
        {% else %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Hello, {{user_name}}</a> 
          <div class="navbar-dropdown">
              <a class="navbar-item">
                Account
              </a>
              <a class="navbar-item">
                Portfolio 
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item" href='logout'>
                Sign out 
              </a>
            </div>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </nav>
  <!-- <section class='section'> -->
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  <!-- </section> -->
  <footer class="footer">
      <div class="columns">
        <div class="column is-one-fifth"></div>
        <div class="column is-one-fifth">
          <p class="subtitle">About</p>
          <a class="">Benefits of Real Estate</a>
          <br>
          <a class="">About us</a>
        </div>
        <div class="column is-one-fifth">
          <p class="subtitle">Resources</p>
          <a class="">Learning tools</a>
          <br>
          <a class="">FAQ</a>
        </div>
        <div class="column is-one-fifth">
          <p class="subtitle">Support</p>
          <a class="">Security</a>
          <br>
          <a class="">Contact us</a>
        </div>
      </div>
  </footer>
</body>
</html>